{{>adminheader loginuser=loginuser  patientdata=patientdata  docData=docData admin=admin}}

{{>adminsidebaar loginuser=loginuser}}
       <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Add Doctor</h4>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-lg-8 offset-lg-2">
                        <form action="/file/upload" method="POST" enctype="multipart/form-data">
                        
                            {{#each errors}}
                            <div class="alert alert-danger">
                              <a href="#" class ="close" data-dismiss="alert" aria-label="close">&times;</a>
                              {{msg}}  
                            </div>
                            {{/each}}

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <!-- <input type="text" name ="nickName"class="form-control" id="floatingInput" placeholder=" nick Name "> -->
                                        <label>Firstname <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="Firstname" name ="fullname" value="{{fullname}}" required>
                                    </div>

                                    <div class="form-group">
                                        <!-- <input type="text" name ="nickName"class="form-control" id="floatingInput" placeholder=" nick Name "> -->
                                        <label>Lastname <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="Lastname" name ="lastfullname" value="{{lastfullname}}" required>
                                    </div>

                                    <div class="form-group">
                                        <!-- <input type="text" name ="nickName"class="form-control" id="floatingInput" placeholder=" nick Name "> -->
                                        <label>UserName <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="UserName" name ="username" value="{{username}}" required>
                                    </div>

                                </div>

                                  <div class="form-group">
                                        <!-- <input type="text" name ="nickName"class="form-control" id="floatingInput" placeholder=" nick Name "> -->
                                        <label>Admin Id <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="Admin Id" name ="adminid" value="{{fullname}}" required>
                                    </div>

                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" placeholder="Email" name ="email" value="{{email}}" required>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Password <span class="text-danger">*</span></label>
                                        <input class="form-control" type="password" placeholder="password" name ="password" value="{{password}}" required>
                                    </div>
                                </div>


								<div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <div class="cal-icon">
                                            <input type="date" class="form-control datetimepicker" name ="Dob" value="{{Dob}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label>Role</label>
                                        <select class="form-control select" placeholder="Role" name="role" value="{{role}}" required>
                                            <option>Select</option>
                                            <option>Sub-Admin</option>
                                            <option>Doctor</option>
                                             <option>Patient</option>
                                            <option>Therapist</option>
                                            
                                        </select>
                                    </div>
                                    </div>
								<div class="col-sm-12">
									<div class="row">

										<div class="col-sm-12">
											<div class="form-group">
												<label>Address</label>
												<input type="text" class="form-control" placeholder="Address" name = "Address" value="{{Address}}" required>
											</div>
										</div>

                                       

                                        {{!-- <div class="col-sm-12">
											<div class="form-group">
												<img src="" alt="" id="imagePreview" width="500px">
											</div>
										</div> --}}

                                        <div class="col-sm-12">
											<div class="form-group">
												<label>Upload Image</label>
												<input type="file" class="form-control" id="doc-image" name="file"/>
											</div>
										</div>


                                         {{!-- <div class="col-sm-12">
											<div class="form-group">
												<label>Upload filename</label>
												<input type="text" class="form-control" id="filename" placeholder="same name as image name.jpg" name = "filename"/>
											</div>
										</div> --}}


                                       

										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Country</label>
												<select class="form-control select" placeholder="Country" name = "Country" value="{{Country}}" required>
                                                    <option>Select Country</option>
													<option>India</option>

													<!-- <option>United Kingdom</option> -->
												</select>
											</div>
										</div>
                                        
										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>City</label>
												<input type="text" class="form-control" placeholder="city" name = "City" value="{{City}}" required >
											</div>
										</div>

										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>State/Province</label>
												<select class="form-control select" name="State" placeholder="state" value="{{State}}" required>
                                                    <option>Select state/province</option>
													<option>Andhra Pradesh</option>
													<option>Arunachal Pradesh</option>
													<option>Assam</option>
                                                    <option>Bihar</option>
                                                    <option>Chhattisgarh</option>
                                                    <option>Goa</option>
                                                    <option>Gujrat</option>
                                                    <option>Haryana</option>
                                                    <option>Himachal Pradesh</option>
                                                    <option>Jharkhand</option>
                                                    <option>Karnataka</option>
                                                    <option>Kerala</option>
                                                    <option>Madhya Pradesh</option>
                                                    <option>Maharashtra</option>
                                                    <option>Manipur</option>
                                                    <option>Meghalaya</option>
                                                    <option>Mizoram</option>
                                                    <option>Nagaland</option>
                                                    <option>Odisha</option>
                                                    <option>Punjab</option>
                                                    <option>Rajasthan</option>
                                                    <option>Sikkim</option>
                                                    <option>Tamil Nadu</option>
                                                    <option>Telangana</option>
                                                    <option>Tripura</option>
                                                    <option>Uttrakhand</option>
                                                    <option>Uttar Pradesh</option>
                                                    <option>West Bengal</option>
												</select>
											</div>
										</div>

										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Postal Code</label>
												<input type="text" class="form-control" placeholder="postal Code" name="pincode" value="{{pincode}}" required>
											</div>
										</div>
									</div>
								</div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone </label>
                                        <input class="form-control" type="text" placeholder="phone" name = "phone" value="{{phone}}" required>
                                    </div>
                                </div>
                            </div>
							<div class="form-group">
                                <label>Short Biography</label>
                                <textarea class="form-control" rows="3" cols="30" placeholder="short bio" name="Biography" value="Biography"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="display-block">Status</label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="doctor_active" value="Active" checked>
									<label class="form-check-label" for="doctor_active">
									Active
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="doctor_inactive" value="Inactive">
									<label class="form-check-label" for="doctor_inactive">
									Inactive
									</label>
								</div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary account-btn" type="submit">Create Doctor</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
{{!-- preview uploaded  image --}}
    <script>

        const imageFile = document.getElementById("doc-image");
        const filename = document.getElementById("filename");
        const imagePreview = document.getElementById("imagePreview")
        imageFile.addEventListener("change", (e)=>{
            
            imagePreview.src = URL.createObjectURL(e.target.files[0]);
        })
    </script>
   {{>adminfooter}}