


{{>adminheader loginuser=loginuser  patientdata=patientdata  docData=docData admin=admin}}
{{>adminsidebaar loginuser=loginuser}}
<style>
#more {display: none;}
</style>
<div class="main-panel">
   <div class="content-wrapper">
       
    <!-- Header -->
    <!-- Page content -->
    <br><br>
    <br><br>
    <div class="">
      <div class="row" style="margin-left: 200px;margin-top:-65px">
        {{#each admin}}
        <div class="col-xl-8">
          <div class="card card-profile">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="../img/doctor-thumb-03.jpg" class="rounded-circle" style="max-width: 200px; margin-right:30px">
                  </a>
                </div>
              </div>
            </div>
            
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">5</span>
                      <span class="description">Doctors</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{this.username}}<span class="font-weight-light"><br>{{this.Dob}}</span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Admin
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{this._id}}
                </div>

                 <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{this.phone}}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>{{this.email}}
                </div>
                <hr class="my-4">
                <p>Doctor Biography <span id="dots">  ...  </span><span id="more"></span>{{this.Biography}}</p>
                {{!-- <a href="#">Show more</a> --}}
                <a href="#" onclick="myFunction()" id="myBtn">Show more</a>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      <script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>
      </div>
    </div>
  </div>
 {{>adminfooter}}
