{{>adminheader loginuser=loginuser  patientdata=patientdata  docData=docData admin=admin}}
{{>adminsidebaar loginuser=loginuser}}
    <div class="main-panel">
         <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Doctor</h4>
                    </div>
                </div>
                <div class="row"> 
                    {{#each userData}}
                    <div class="col-lg-8 offset-lg-2">
                        <form action="/docUpdate/{{this._id}}" method="POST">
                            {{#each errors}}
                            <div class="alert alert-danger">
                              <a href="#" class ="close" data-dismiss="alert" aria-label="close">&times;</a>
                              {{text}}    
                            </div>
                            {{/each}}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <!-- <input type="text" name ="nickName"class="form-control" id="floatingInput" placeholder=" nick Name "> -->
                                        <label>First Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name ="fullname" value="{{this.fullname}}" required>
                                    </div>
                                </div>

                                 <div class="col-sm-6">
                                    <div class="form-group">
                                        <!-- <input type="text" name ="nickName"class="form-control" id="floatingInput" placeholder=" nick Name "> -->
                                        <label>Last Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name ="lastfullname" value="{{this.lastfullname}}" required>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" name ="email" value="{{this.email}}" required>
                                    </div>
                                </div>
                                
								<div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <div class="cal-icon">
                                            <input type="text" class="form-control datetimepicker" name ="Dob" value="{{this.Dob}}" required>
                                        </div>
                                    </div>
                                </div>
                                
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label>Address</label>
												<input type="text" class="form-control " name = "Address" value="{{this.Address}}" required>
											</div>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Country</label>
												<select class="form-control select" name = "Country" value="{{this.Country}}" required>
													<option>India</option>

													<!-- <option>United Kingdom</option> -->
												</select>
											</div>
										</div>
                                        
										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>City</label>
												<input type="text" class="form-control" name = "City" value="{{this.City}}" required >
											</div>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>State/Province</label>
												<select class="form-control select" name="State" value="{{this.State}}" required>
													<option>Andhra Pradesh</option>
													<option>Arunachal Pradesh</option>
													<option>Assam</option>
                                                    <option>Bihar</option>
                                                    <option>Chhattisgarh</option>
                                                    <option>Goa</option>
                                                    <option>Gujrat</option>
                                                    <option>Haryana</option>
                                                    <option>Himachal Pradesh</option>
                                                    <option>Jharkhand</option>
                                                    <option>Karnataka</option>
                                                    <option>Kerala</option>
                                                    <option>Madhya Pradesh</option>
                                                    <option>Maharashtra</option>
                                                    <option>Manipur</option>
                                                    <option>Meghalaya</option>
                                                    <option>Mizoram</option>
                                                    <option>Nagaland</option>
                                                    <option>Odisha</option>
                                                    <option>Punjab</option>
                                                    <option>Rajasthan</option>
                                                    <option>Sikkim</option>
                                                    <option>Tamil Nadu</option>
                                                    <option>Telangana</option>
                                                    <option>Tripura</option>
                                                    <option>Uttrakhand</option>
                                                    <option>Uttar Pradesh</option>
                                                    <option>West Bengal</option>
												</select>
											</div>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Postal Code</label>
												<input type="text" class="form-control" name="pincode" value="{{this.pincode}}" required>
											</div>
										</div>
									</div>
								</div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone </label>
                                        <input class="form-control" type="text" name = "phone" value="{{this.phone}}" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
									<div class="form-group">
										<label>Avatar</label>
										<div class="profile-upload">
											<div class="upload-img">
												<img alt="" src="../img/user.jpg">
											</div>
											<div class="upload-input">
												<input type="file" class="form-control" name="profilepic" value="{{this.profilepic}}">
											</div>
										</div>
									</div>
                                </div>
                            </div>
							<div class="form-group">
                                <label>Short Biography</label>
                                <textarea class="form-control" rows="3" cols="30" name="Biography" >{{this.Biography}}</textarea>
                            </div>
                            <div class="form-group">
                                <label class="display-block">Status</label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="doctor_active" value="Active" checked>
									<label class="form-check-label" for="doctor_active">
									Active
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="doctor_inactive" value="Inactive">
									<label class="form-check-label" for="doctor_inactive">
									Inactive
									</label>
								</div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary account-btn" type="submit">Update Doctor</button>
                            </div>
                        </form>

                        <br>

                        <div class="m-t-20 text-center">
                                <a class="btn btn-primary account-btn" href="../docchange-password/{{this._id}}"><i class="fa fa-pencil m-r-5"></i>change-password</a>
                            </div>

                        
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
   {{>adminfooter}}